@import 'vars';

.MenuMobile {
	width: 150px;
	height: auto;
	border: 1px solid var(--very-light-pink);
	border-radius: 6px;
	padding: 20px 20px 0 20px;
	position: absolute;
	top: 60px;
	//left: 50px;
	background: var(--white);
}
.MenuMobile ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.MenuMobile ul li {
	text-align: end;
}
.MenuMobile ul li:nth-child(1),
.MenuMobile ul li:nth-child(2) {
	font-weight: bold;
}
.MenuMobile ul li:last-child {
	padding-top: 20px;
	border-top: 1px solid var(--very-light-pink);
}
.MenuMobile ul li:last-child a {
	color: var(--lavanda);
	font-size: var(--sm);
}
.MenuMobile ul li a {
	color: var(--back);
	text-decoration: none;
	margin-bottom: 20px;
	display: inline-block;
}

@media (min-width: 641px) {
	.MenuMobile {
		display: none;
	}
	.MenuMobile ul{
		display: none;
	}
	.MenuMobile ul li{
		display: none;
	}
	.MenuMobile ul li a{
		display: none;
	}
	
}